<footer class="bg-[#1E293B] text-slate-300">

    <div class="mx-auto max-w-7xl px-6 py-20">

        <div class="grid gap-16 lg:grid-cols-4">
            <div>
                <img src="img/logos/logo1-white.svg" alt="logo">

                <p class="mt-6 leading-8">
                    Criamos sites, sistemas e soluções digitais
                    modernas para empresas que desejam crescer
                    através da tecnologia.
                </p>

                <div class="mt-8 flex gap-4">
                    <a href="#" class="social">
                        <i class="fa-brands fa-github text-white"></i>
                    </a>

                    <a href="#" class="social">
                        <i class="fa-brands fa-linkedin-in text-white"></i>
                    </a>

                    <a href="#" class="social">
                        <i class="fa-brands fa-instagram text-white"></i>
                    </a>

                    <a href="#" class="social">
                        <i class="fa-brands fa-whatsapp text-white"></i>
                    </a>
                </div>
            </div>

            <div>

                <h3 class="footer-title">
                    Empresa
                </h3>

                <ul class="space-y-4">
                    <li><a href="#home">Início</a></li>

                    <li><a href="#services">Serviços</a></li>

                    <li><a href="#projects">Projetos</a></li>

                    <li><a href="#technologies">Tecnologias</a></li>

                    <li><a href="#contact">Contato</a></li>

                </ul>

            </div>

            <div>

                <h3 class="footer-title">
                    Serviços
                </h3>

                <ul class="space-y-4">
                    <li>Sites Institucionais</li>

                    <li>Landing Pages</li>

                    <li>Sistemas Web</li>

                    <li>Integrações API</li>

                    <li>Consultoria</li>
                </ul>

            </div>

            <div>
                <h3 class="footer-title">
                    Contato
                </h3>

                <ul class="space-y-5">
                    <li class="flex gap-3">
                        <i class="fa-solid fa-envelope text-orange-500"></i>
                        contato@codestudiolabs.com
                    </li>

                    <li class="flex gap-3">
                        <i class="fa-solid fa-phone text-orange-500"></i>
                        +55 (00) 99999-9999
                    </li>

                    <li class="flex gap-3">
                        <i class="fa-solid fa-location-dot text-orange-500"></i>
                        Fortaleza - CE
                    </li>
                </ul>
            </div>

        </div>

        <div class="my-12 h-px bg-slate-800">
        </div>

        <div class="flex flex-col items-center justify-between gap-4 text-sm text-slate-500 md:flex-row">
            <p>
                © 2026 Code Studio Labs. Todos os direitos reservados.
            </p>

            <p>
                Desenvolvido com
                <span class="text-orange-500">❤</span>
                pela Code Studio Labs.
            </p>
        </div>
    </div>
</footer>