<header id="home">
    <app-nav></app-nav>

    <section class="relative overflow-hidden bg-white pt-22">
        <div class="absolute -top-40 -left-40 h-96 w-96 rounded-full bg-orange-100 blur-3xl"></div>
        <div class="absolute right-0 top-20 h-72 w-72 rounded-full bg-orange-50 blur-3xl"></div>

        <div class="relative mx-auto flex min-h-[90vh] container items-center px-6">
            <div class="grid items-center gap-16 lg:grid-cols-2">

                <div class="">
                    <div
                        class="mb-3 inline-flex items-center gap-2 rounded-full border border-orange-200 bg-orange-50 px-5 py-2 text-xs font-bold text-[#F97316] uppercase">
                        <i class="fa-solid fa-meteor text-lg"></i>
                        Desenvolvimento Web de Alto Nível
                    </div>

                    <h1 class="text-5xl font-black leading-tight lg:text-7xl">
                        Desenvolvemos
                        <span class="text-[#F97316]">
                            soluções digitais
                        </span>
                        para empresas que querem crescer.

                    </h1>

                    <p class="mt-8 text-lg leading-8 text-slate-600">
                        Criamos sites, landing pages e sistemas personalizados
                        focados em performance, design moderno e experiência do usuário.
                    </p>

                    <div class="mt-10 flex flex-wrap gap-5">
                        <button
                            class="flex items-center gap-2 rounded-xl bg-orange-500 px-8 py-4 font-semibold text-sm text-white uppercase shadow-xl shadow-orange-500/20 transition hover:-translate-y-1 hover:bg-orange-600 cursor-pointer">
                            <i class="fa-solid fa-comment text-lg"></i>
                            Solicitar orçamento
                        </button>

                        <button
                            class="flex items-center gap-2 rounded-xl border-2 border-slate-300 px-8 py-4 font-semibold text-sm uppercase transition hover:border-orange-500 hover:text-orange-500 cursor-pointer">
                            <i class="fa-solid fa-right-long text-lg"></i>
                            Conhecer projetos
                        </button>

                    </div>

                </div>

                <div class="relative flex justify-center">
                    <div class="grid w-full max-w-md gap-5">

                        <div class="rounded-3xl border border-slate-200 bg-white p-7 shadow-xl">
                            <div
                                class="mb-4 flex size-14 items-center justify-center text-[#F97316] rounded-2xl bg-orange-100">
                                <i class="fa-solid fa-earth-americas text-2xl"></i>
                            </div>

                            <h3 class="text-lg font-bold uppercase">
                                Sites Institucionais
                            </h3>

                            <p class="mt-3 text-slate-500">
                                Sites rápidos, modernos e responsivos para fortalecer sua presença online.
                            </p>

                        </div>

                        <div class="translate-x-4 sm:translate-x-10 rounded-3xl border border-slate-200 bg-white p-7 shadow-xl">
                            <div
                                class="mb-4 flex size-14 items-center justify-center text-[#F97316] rounded-2xl bg-orange-100">
                                <i class="fa-solid fa-gear text-2xl"></i>
                            </div>

                            <h3 class="text-lg font-bold uppercase">
                                Sistemas Web
                            </h3>

                            <p class="mt-3 text-slate-500">
                                Soluções sob medida para automatizar processos e aumentar a produtividade.
                            </p>
                        </div>

                        <div class="rounded-3xl border border-slate-200 bg-white p-7 shadow-xl">
                            <div
                                class="mb-4 flex size-14 items-center justify-center text-[#F97316] rounded-2xl bg-orange-100">
                                <i class="fa-solid fa-rocket text-2xl"></i>
                            </div>

                            <h3 class="text-lg font-bold uppercase">
                                Alta Performance
                            </h3>

                            <p class="mt-3 text-slate-500">
                                Tecnologias modernas para entregar velocidade, segurança e escalabilidade.
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</header>