.nav-link{
    position: relative;
    transition: .3s;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    color: #F97316;
    background: #F97316;
    transition: width .3s;
}

.nav-link:hover::after{
    width:100%;
}