.nav-link{
    position: relative;
    transition: .3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 9999px;
    background: #4F46E5;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}
