/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
}


.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-color-blue {
  color: #1E293B;
}